<nav class="navbar navbar-ct-transparent navbar-relative " role="navigation-demo" id="register-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">TrvlNotes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation-example-2">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" class="btn btn-simple">About</a>
        </li>
        <li>
            <a href="#" class="btn btn-simple">Contact</a>
        </li>
        <li>
            <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>
        </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav> 
    
<div class="wrapper">
    <div class="profile-background"> 
        <div class="filter-black"></div>  
    </div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner">
                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                    <div class="avatar">
                        <img src="../assets/paper_img/chet_faker_2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                    </div>
                    <div class="name">
                        <h4><%= @user.name%></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p>A passion for travel is a passion for life.</p>
                    <br />
                     <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModalNewCard"> Add New Card
                     </button>
                </div>
            </div>
                                                <div class="container">
                                                        <% @countries.each do |country| %>
                                                          <a href="/board?country_id=<%= country.id%>">
                                                            <div class="card">
                                                              <div class="country-name"><%= country.name%>
                                                              </div>
                                                              <img src="" alt="">
                                                              <div>
                                                                <p>cards <span class="cards-number"><%= (country.cards & @cards).size%></span></p>
                                                              </div>
                                                            </div>
                                                          </a>
                                                        <% end %>
                                                      </div>
                                            </div>
                        </div>
                    </div>

  <!--Modal for Add New Card -->
<div class="modal fade" id="myModalNewCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New TrvlNote</h4>
      </div>
      <div class="modal-body">
        <div class="new_card">

          <form action="/cards" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <label for="">Country</label>
            <input class="country_selector" type="text" name="country" id="country">

            <label for="">Title</label>
            <input type="text" name="title" id="name" >

            <label for="">Image Url</label>
            <input type="text" name="image" id="image">

            <label for="">Source Url</label>
            <input type="text" name="source" id="source">

            <label for="">Tags</label>
              <input type="checkbox" class="tags" name="foodanddrink" id="foodanddrink">Food
              <input type="checkbox" class="tags" name="accommodation" id="accommodation">Accommodation
              <input type="checkbox" class="tags" name="transport" id="transport">Transport
              <input type="checkbox" class="tags" name="culture" id="culture">Culture
              <input type="checkbox" class="tags" name="entertainment" id="entertainment">Entertainment
              <input type="checkbox" class="tags" name="shopping" id="shopping">Shopping
              <input type="checkbox" class="tags" name="nature" id="nature">Nature
              <input type="checkbox" class="tags" name="free" id="free">Free

            <p><input type="submit" value="Submit" id="multiple" class="new_card_submit"></p>
          </form>

        </div>

      </div>
    </div>
      <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Never mind</button>
        </div>
        <div class="divider">
        </div>
        <div class="right-side">
         <!--  <input type="submit button" value="Submit" id="multiple" class="btn btn-danger btn-single new_card_submit"> -->
            <button type="button" class="btn btn-danger btn-simple">Delete</button>
        </div>
      </div>
  </div>
</div>





    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the profile.css file. -->
    <!-- <header class="profile-header">
      <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
                    <h1 class="tagline"><a href="/profile/edit?id=<%= @user.id%>">
    <div class="profile_image">
      <img src="<%= @user.image_url%>" alt="">
    </div>
  </a>

  <div class="username"><%= @user.name%></div>

  <a class="add_card_btn" href="/new">ADD CARD</a></h1>
  
                </div>
            </div>
        </div>
    </header> -->






<script id="card-template" type="text/x-handlebars-template">
  <a href="/board?country_id={{country_id}}>">
    <div class="card">
      <div class="country-name">{{country_name}}</div>
      <img src="" alt="">
      <div>
        <p>cards <span>{{card_number}}</span></p>
      </div>
    </div>
  </a>
</script>

<script>
$( document ).ready(function() {
  $(".new_card").hide();
  $(".add_card_btn").on('click',function(event){

    event.preventDefault();
    $(".new_card").show();
  });

  var update_card_list = function(country) {
    var countryNames = [];
    for(var i=0; i< $(".country-name").length; i++) {
      countryNames.push($(".country-name").eq(i).text());
    }
    if (countryNames.indexOf(country.name) != -1) {
      // if country card is displayed increase card number
      var index = countryNames.indexOf(country.name);
      var cardNumber = Number($(".country-name").eq(index).closest(".card").find(".cards-number").text());
      cardNumber++;
      $(".country-name").eq(index).closest(".card").find(".cards-number").text(cardNumber);
    } else {
      // country card does not exist, create a new one
      var templateString = $("#card-template").html();
      var templateFunction = Handlebars.compile(templateString);
      // find the country id in country table
      var html = templateFunction({
        country_id: country.id,
        country_name: country.name,
        card_number: 1 
      });
      var $newElem = $(html);
      $('.container').append($newElem);
    }
  }

  $(".new_card_submit").on('click',function(event){
      event.preventDefault();
      var country = $("#country").val();
      var name = $("#name").val();
      var image = $("#image").val();
      var source = $("#source").val();

      var tags = $('.tags:checked');
      var tagsArr = [];
      for(var i=0; i<tags.length; i++) {
        tagsArr.push(tags[i].id);
      }
      console.log(tagsArr);

      console.log(country);
      console.log(name);
      console.log(image);
      console.log(source);
      // var foodanddrink = $('#foodanddrink').val();
      // var accommodation = $('#accommodation').val();
      // var multiple = $('multiple').val();
      // console.log(foodanddrink);
      // console.log(accommodation);
      // console.log(multiple);
      $.ajax({
        url:"/api/card/create",
        method: 'post',
        data: {
          country: country,
          title: name,
          image: image,
          source: source,
          tags: tagsArr.join(',')
      }}).done(function( response ) {
        console.log( "yay" );
        console.log(response);
        // hide the add new card form
        $(".new_card").hide();
        // update the cards list without refresh the page
        update_card_list(response[0]);

      });
  });
});

</script>
